.navbar {

}
#logo {
    height: 300px;
    width: 350px;
    margin-left: 450px;
    
}

#search-bar {
    margin-left: 350px;
}
.footer {
    background-color: rgb(242, 242, 242);
    position: fixed;
    bottom: 0;
}
a {
    color: black;
    text-decoration-line: none;
}
#left-footer {
left: 0;
}
#right-footer {
    right: 143;
}